# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.aarlo
.cloud
.ssh
.storage
.vscode
custom_components
deps
group
python_scripts
readme
ssl_cert
tts
www
zone


# Ensure these files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
*.conf 
*.log
*.bck
.google.token
.HA_VERSION
.homekit.state
.ios.conf
.pip_progress
.ring_cache.pickle
.spotify-token-cache 
.uuid
google_calendars.yaml
zigbee*.db*
pyozw.sqlite*
OZW_Log.txt
options.xml
zw*.xml
.*